---
import WebsiteLayout from "../components/WebsiteLayout";
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/Home/HomeHero";
import HomeDividerOne from "../components/Home/HomeDividerOne";
import HomeCTA from "../components/Home/HomeCTA";
import HomeDividerTwo from "../components/Home/HomeDividerTwo";
import HomeTestimonials from "../components/Home/HomeTestimonials";
---

<Layout title="Welcome to Astro.">
  <main>
    <WebsiteLayout client:load>
      <HomeHero />
      <HomeDividerOne />
      <HomeCTA />
      <HomeDividerTwo />
      <HomeTestimonials />
    </WebsiteLayout>
  </main>
</Layout>
