---
import WebsiteLayout from "../components/WebsiteLayout";
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/Home/HomeHero";
import HomeDividerOne from "../components/Home/HomeDividerOne";
import HomeCTA from "../components/Home/HomeCTA";
import HomeDividerTwo from "../components/Home/HomeDividerTwo";
import HomeTestimonials from "../components/Home/HomeTestimonials";
import ContactForm from "../components/ContactForm";
---

<Layout title="Amnesty International University of Calgary | Homepage">
  <main>
    <WebsiteLayout client:load>
      <HomeHero />
      <HomeDividerOne />
      <HomeCTA />
      <HomeDividerTwo />
      <!-- <HomeTestimonials /> -->
      <ContactForm />
    </WebsiteLayout>
  </main>
</Layout>
