---
---

<div
  class="relative mx-auto flex flex-col px-4 sm:max-w-xl md:h-screen md:max-w-screen-xl md:flex-row"
>
  <!-- Left Column -->
  <div class="mx-auto mt-10 w-full max-w-xl md:mt-36 lg:max-w-screen-xl">
    <div class="mb-16 lg:mb-0 lg:max-w-lg">
      <div class="mb-6 max-w-xl">
        <h2
          class="mb-6 max-w-lg font-sans text-3xl font-bold tracking-tight text-slate-700 sm:text-5xl sm:leading-snug"
        >
          AIUOFC Events
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          Join our club and have some fun!
        </p>
      </div>
      <div class="flex items-center">
        <a
          href="/"
          class="mr-6 inline-flex h-12 items-center justify-center rounded bg-indigo-600 px-6 font-medium tracking-wide text-white shadow-md outline-none transition duration-200 hover:bg-indigo-400 focus:ring"
        >
          Get started
        </a>
        <a
          href="/"
          aria-label=""
          class="inline-flex items-center font-semibold text-indigo-600 transition-colors duration-200 hover:text-indigo-400"
          >Learn more</a
        >
      </div>
    </div>
  </div>
  <!-- /Left Column -->

  <!-- Right Column -->
  <div
    class="xl:1/2 flex h-full w-full justify-end space-x-3 overflow-hidden px-2 lg:w-2/3"
  >
    <!-- Col 1 -->
    <div class="flex flex-col space-y-3 md:w-72">
      <div
        class="-mt-5 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="/images/Bm8G0V9ytRbCalT-KOSMT.png"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-indigo-600 p-4 shadow-md">
        <div
          class="absolute -left-1 top-0 -z-10 h-5 w-5 skew-x-[28deg] bg-indigo-600"
        >
        </div>
        <p class="text-sm text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ratione
          atque officia.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Facilis aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="/images/y9s3xOJV6rnQPKIrdPYJy.png"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-white"> Simon Lewis</span>
            <span class="flex items-center text-xs text-white">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="/images/x4vs_ucCRWYTU_yLQ6h26.png"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div
        class="-mt-10 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
    </div>

    <!-- Col 2 -->
    <div class="hidden w-72 flex-col space-y-3 lg:flex">
      <div
        class="-mt-10 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Elit. Facilis aliquam vero illo fuga libero nihil quisquam, aspernatur
          sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="/images/oPf2b7fqx5xa3mo68dYHo.png"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="/images/-ytzjgg6lxK1ICPcNfXho.png"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
          pariatur. elit. Facilis aliquam vero illo fuga libero nihil quisquam,
          aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="/images/Bm8G0V9ytRbCalT-KOSMT.png"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div
        class="-mt-10 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
    </div>
  </div>
  <!-- /Right Column -->
</div>
