---
import EventItem from "./EventItem.astro";
---

<div
  class="relative mx-auto flex flex-col px-4 md:px-6 lg:px-8 sm:max-w-xl md:h-screen md:max-w-screen-xl md:flex-row pt-20"
>
  <!-- Left Column -->
  <div class="mx-auto mt-10 w-full max-w-xl md:mt-36 lg:max-w-screen-xl">
    <div class="mb-16 lg:mb-0 lg:max-w-lg">
      <div class="mb-6 max-w-xl">
        <h2
          class="mb-6 max-w-lg font-sans text-3xl font-bold tracking-tight text-white sm:text-5xl sm:leading-snug"
        >
          AIUOFC Events
        </h2>
        <p class="text-base text-white md:text-lg">
          Join our club and have some fun!
        </p>
      </div>
      <slot />
    </div>
  </div>
  <!-- /Left Column -->

  <!-- Right Column -->
  <div
    class="xl:1/2 flex h-full w-full justify-end space-x-3 overflow-hidden px-2 lg:w-2/3 hidden"
  >
    <!-- Col 1 -->
    <div class="flex flex-col space-y-3 md:w-72">
      <div
        class="-mt-5 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1587397845856-e6cf49176c70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-indigo-600 p-4 shadow-md">
        <div
          class="absolute -left-1 top-0 -z-10 h-5 w-5 skew-x-[28deg] bg-indigo-600"
        >
        </div>
        <p class="text-sm text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ratione
          atque officia.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Facilis aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1553514029-1318c9127859?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-white"> Simon Lewis</span>
            <span class="flex items-center text-xs text-white">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1542327897-d73f4005b533?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div
        class="-mt-10 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
    </div>

    <!-- Col 2 -->
    <div class="hidden w-72 flex-col space-y-3 lg:flex">
      <div
        class="-mt-10 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Elit. Facilis aliquam vero illo fuga libero nihil quisquam, aspernatur
          sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1597071058713-6776461d7737?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          aliquam vero illo fuga libero nihil quisquam, aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1542596594-649edbc13630?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div class="relative rounded-xl bg-white p-4 shadow-md">
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
          pariatur. elit. Facilis aliquam vero illo fuga libero nihil quisquam,
          aspernatur sint.
        </p>
        <div class="mt-4 flex items-center">
          <a href="#" class="relative block">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1568782517100-09bf22d88c2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
              class="mx-auto h-10 w-10 rounded-full object-cover"
            />
          </a>
          <div class="ml-2 flex flex-col justify-between">
            <span class="text-sm font-semibold text-indigo-500">
              Simon Lewis
            </span>
            <span class="flex items-center text-xs text-gray-500">
              Head of marketing at Resnet
            </span>
          </div>
        </div>
      </div>
      <div
        class="-mt-10 hidden h-40 flex-shrink-0 rounded-xl bg-indigo-50 md:block"
      >
      </div>
    </div>
  </div>
  <!-- /Right Column -->
</div>
