---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { blogPostFields } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import WebsiteLayout from "../../components/WebsiteLayout";
import BlogTemplate from "../../components/BlogComponents/BlogTemplate.astro";
import BlogPosts from "../../components/BlogComponents/BlogPosts.astro";

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<blogPostFields>({
    content_type: "blogPost",
  });

  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));
  return pages;
}

interface Props {
  title: string;
  date: string;
  content: string;
}

const { content, title, date } = Astro.props;
---

<Layout title={title}>
  <WebsiteLayout>
    <main>
      <BlogTemplate articleTitle={title} articleDate={date}>
        <article set:html={content}></article>
      </BlogTemplate>
      <BlogPosts />
    </main>
  </WebsiteLayout>
</Layout>
