---
import Button from "../Button";
---

<div class="flex min-h-screen">
  <div
    class="relative my-auto mx-auto flex flex-col px-4 sm:max-w-xl md:max-w-screen-xl md:flex-row py-28 xl:gap-x-14"
  >
    <!-- Left Column -->
    <div class="mx-auto flex w-full max-w-xl lg:max-w-screen-xl">
      <div class="mb-16 lg:my-auto lg:max-w-lg">
        <div class="mb-6 max-w-xl">
          <div>
            <p
              class="bg-teal-accent-400 mb-2 inline-block rounded-full bg-secondary px-3 py-1 text-xs font-semibold uppercase tracking-wider"
            >
              Who are we?
            </p>
          </div>
          <h2
            class="mb-6 max-w-lg text-3xl font-extrabold sm:text-5xl sm:leading-snug"
          >
            Amnesty International
            <span
              class="rounded- abg-gradient-to-r inline-block bg-gradient-to-r from-secondary to-[red] px-2 font-bold text-white"
              >University of Calgary</span
            >
          </h2>
          <div class="text-base md:text-lg grid gap-4">
            <p class="">
              Amnesty International at the University of Calgary is a
              student-based chapter of Amnesty International, a worldwide
              nonprofit organization which advocates for the promotion and
              protection of human rights.
            </p>
            <p>
              Amnesty International has no political, governmental, or corporate
              affiliation, but strives to achieve the universal respect of human
              rights by targeting specific cases of human rights violations and
              raising public awareness.
            </p>
            <p>
              The AI U of C chapter aims to bring awareness to students,
              faculty, and alumni about human rights violations around the
              world, and how they can contribute to the campaign for universal
              human rights. This page is one of the ways that we hope to
              broadcast information regarding: our club and our mission,
              upcoming events, and current campaigns.
            </p>
          </div>
        </div>
        <div class="flex items-center">
          <Button link="join">Join Us</Button>
        </div>
      </div>
    </div>
    <!-- /Left Column -->

    <!-- Right Column -->
    <div class="flex h-full w-full space-x-3 overflow-hidden md:justify-end">
      <!-- Col 2 -->
      <div class="hidden w-56 items-center space-y-3 lg:flex">
        <div class="overflow-hidden rounded-xl bg-yellow-400">
          <img
            class="h-full w-full object-cover"
            src="https://scontent.fyyc7-1.fna.fbcdn.net/v/t1.6435-9/84180478_3053803214644274_7726375337751216128_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=BE9z7nbnv4EAX82Hoic&tn=I5yqOSepRUm_uomz&_nc_ht=scontent.fyyc7-1.fna&oh=00_AT9aAtD4HHKgzukjkSVsmRH0I8ajrRdnXBD7TaFgvUkNPg&oe=63571CD6"
            alt=""
          />
        </div>
      </div>
      <div class="w-full flex-col space-y-3 rounded-xl py-4 lg:flex lg:w-80">
        <div class="h-40 overflow-hidden rounded-xl bg-green-600/60">
          <img
            class="mx-auto h-full w-full object-cover"
            src="https://scontent.fyyc7-1.fna.fbcdn.net/v/t1.6435-9/83243837_3053803257977603_2160544192575569920_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=E2ElHiM4q7AAX9vxP7m&tn=I5yqOSepRUm_uomz&_nc_ht=scontent.fyyc7-1.fna&oh=00_AT8VhwpLzfhGllMp0f7PX9CFzE4vCpPBh7hk8vXu_coMAg&oe=6357D289"
            alt=""
          />
        </div>
        <div class="h-40 overflow-hidden rounded-xl bg-pink-600/60">
          <img
            class="mx-auto h-full w-full object-cover"
            src="https://scontent.fyyc7-1.fna.fbcdn.net/v/t1.6435-9/143079858_4051778501513402_1760347635572610458_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=tPXaFhGorMcAX9VLsYl&_nc_ht=scontent.fyyc7-1.fna&oh=00_AT8sGqDh9dPe6OQGtGwSM-T_taJONSnTgTgd-PvYdstKRg&oe=6358128D"
            alt=""
          />
        </div>
        <div class="h-40 overflow-hidden rounded-xl bg-blue-600/60">
          <img
            class="mx-auto h-full w-full object-cover"
            src="https://scontent.fyyc7-1.fna.fbcdn.net/v/t1.6435-9/83241280_3053803174644278_3057801481055895552_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=evmyNDW8wEEAX-CoFKY&_nc_ht=scontent.fyyc7-1.fna&oh=00_AT-oWdmivD0c8oYx487x3H6cY_1KxpfrMoE2074PZ1Orkg&oe=635849F6"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- /Right Column -->
  </div>
</div>
<svg
  class="fill-current text-secondary"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
  ><path
    fill-opacity="1"
    d="M0,224L13.3,218.7C26.7,213,53,203,80,202.7C106.7,203,133,213,160,229.3C186.7,245,213,267,240,266.7C266.7,267,293,245,320,218.7C346.7,192,373,160,400,170.7C426.7,181,453,235,480,261.3C506.7,288,533,288,560,266.7C586.7,245,613,203,640,202.7C666.7,203,693,245,720,234.7C746.7,224,773,160,800,112C826.7,64,853,32,880,69.3C906.7,107,933,213,960,256C986.7,299,1013,277,1040,261.3C1066.7,245,1093,235,1120,202.7C1146.7,171,1173,117,1200,106.7C1226.7,96,1253,128,1280,149.3C1306.7,171,1333,181,1360,202.7C1386.7,224,1413,256,1427,272L1440,288L1440,320L1426.7,320C1413.3,320,1387,320,1360,320C1333.3,320,1307,320,1280,320C1253.3,320,1227,320,1200,320C1173.3,320,1147,320,1120,320C1093.3,320,1067,320,1040,320C1013.3,320,987,320,960,320C933.3,320,907,320,880,320C853.3,320,827,320,800,320C773.3,320,747,320,720,320C693.3,320,667,320,640,320C613.3,320,587,320,560,320C533.3,320,507,320,480,320C453.3,320,427,320,400,320C373.3,320,347,320,320,320C293.3,320,267,320,240,320C213.3,320,187,320,160,320C133.3,320,107,320,80,320C53.3,320,27,320,13,320L0,320Z"
  ></path>
</svg>
<svg
  class="fill-current text-secondary"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
  ><path
    fill-opacity="1"
    d="M0,320L0,256L36.9,256L36.9,96L73.8,96L73.8,64L110.8,64L110.8,128L147.7,128L147.7,160L184.6,160L184.6,32L221.5,32L221.5,32L258.5,32L258.5,256L295.4,256L295.4,192L332.3,192L332.3,256L369.2,256L369.2,128L406.2,128L406.2,224L443.1,224L443.1,128L480,128L480,128L516.9,128L516.9,160L553.8,160L553.8,256L590.8,256L590.8,192L627.7,192L627.7,256L664.6,256L664.6,224L701.5,224L701.5,32L738.5,32L738.5,96L775.4,96L775.4,128L812.3,128L812.3,64L849.2,64L849.2,64L886.2,64L886.2,160L923.1,160L923.1,224L960,224L960,288L996.9,288L996.9,64L1033.8,64L1033.8,64L1070.8,64L1070.8,256L1107.7,256L1107.7,320L1144.6,320L1144.6,96L1181.5,96L1181.5,160L1218.5,160L1218.5,224L1255.4,224L1255.4,288L1292.3,288L1292.3,0L1329.2,0L1329.2,224L1366.2,224L1366.2,64L1403.1,64L1403.1,192L1440,192L1440,0L1403.1,0L1403.1,0L1366.2,0L1366.2,0L1329.2,0L1329.2,0L1292.3,0L1292.3,0L1255.4,0L1255.4,0L1218.5,0L1218.5,0L1181.5,0L1181.5,0L1144.6,0L1144.6,0L1107.7,0L1107.7,0L1070.8,0L1070.8,0L1033.8,0L1033.8,0L996.9,0L996.9,0L960,0L960,0L923.1,0L923.1,0L886.2,0L886.2,0L849.2,0L849.2,0L812.3,0L812.3,0L775.4,0L775.4,0L738.5,0L738.5,0L701.5,0L701.5,0L664.6,0L664.6,0L627.7,0L627.7,0L590.8,0L590.8,0L553.8,0L553.8,0L516.9,0L516.9,0L480,0L480,0L443.1,0L443.1,0L406.2,0L406.2,0L369.2,0L369.2,0L332.3,0L332.3,0L295.4,0L295.4,0L258.5,0L258.5,0L221.5,0L221.5,0L184.6,0L184.6,0L147.7,0L147.7,0L110.8,0L110.8,0L73.8,0L73.8,0L36.9,0L36.9,0L0,0L0,0Z"
  ></path>
</svg>
