---
import Layout from "../layouts/Layout.astro";
import WebsiteLayout from "../components/WebsiteLayout";
import AboutHero from "../components/AboutComponents/AboutHero.astro";
import ContactForm from "../components/ContactForm";
import AboutTeam from "../components/AboutComponents/AboutTeam.astro";
import MemberModal from "../components/MemberModal";
import * as members from "../pages/about.md";
import AboutCTA from "../components/AboutComponents/AboutCTA.astro";
import { contentfulClient } from "../lib/contentful";
import type { memberFields } from "../lib/contentful";

const { items } = await contentfulClient.getEntries<memberFields>({
  content_type: "member",
});

const posts = items.map((item) => {
  const {
    colorOne,
    colorTwo,
    generalInformation,
    hobbies,
    imgAlt,
    profilePicture,
    name,
    position,
    reasonForJoining,
    index,
    members,
  } = item.fields;
  return {
    colorOne,
    colorTwo,
    generalInformation,
    hobbies,
    imgAlt,
    name,
    position,
    reasonForJoining,
    index,
    members,
    profilePicture,
  };
});
---

<Layout title="Meet the Team">
  <WebsiteLayout client:load>
    <main class="bg-base-100">
      <AboutHero />
      <AboutTeam members={posts} />
      <MemberModal client:load members={posts} />
      <ContactForm
        headingOne="Events"
        descriptionOne="Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit voluptates quisquam itaque amet sint veniam impedit repellat."
        linkOne="/events"
        imgSrcOne="https://images.unsplash.com/photo-1606836483372-d59cfc76228f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        imgAltOne=""
        headingTwo="Blogs"
        descriptionTwo="Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit voluptates quisquam itaque amet sint veniam impedit repellat."
        linkTwo="/blogs"
        imgSrcTwo="https://images.unsplash.com/photo-1580130601254-05fa235abeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80"
        imgAltTwo=""
      />
    </main>
  </WebsiteLayout>
</Layout>
