---
import Layout from "../layouts/Layout.astro";
import WebsiteLayout from "../components/WebsiteLayout";
// import ServicesHero from "../components/Services/ServicesHero.astro";
import BlogPosts from "../components/BlogComponents/BlogPosts.astro";
import ContactForm from "../components/ContactForm";

const { content } = Astro.props;
---

<Layout title="AIUOFC Blogs">
  <WebsiteLayout client:load>
    <main class="bg-neutral">
      <BlogPosts content={content} />
    </main>
  </WebsiteLayout>
</Layout>
